/* =========================BREAKPOINTS======================= */

@media (max-width: 1200px){

    html{
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }
}


@media (max-width: 425px){
    section{
        padding: 2rem 3%;
    }

    footer{
        padding: 2rem 3%;
    }

    .header{
        padding: 2rem 3%;
    }

    .home .container .content .btn-g{
        display: flex;
        flex-direction: column;
    }

    .projects .projects-container{
        gap: 2rem;
    }
}

@media (max-width: 921px){

    .header #menu-bar{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #333;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        font-size: 2rem;
        padding: 1.5rem;
        margin: 1rem;
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        text-align: center;
    }

    .home .container{
        margin: 10rem 0;
    }
}

@media (max-width: 1200px){

    html{
        font-size: 50%;
    }
}